*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none !important;
}
/* main background image */
.main_bg{
    width: 100%;
    height: 90vh;
    background: url(../image/main_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_bg>div{
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.36);
}
/* nav */
.main_menu{
    width: 100%;
    height: 76PX;
    border-bottom: 1px solid rgba(59, 57, 57, 0.1); 
    background:transparent;
}
.main_logo, .main_logo_black{
    position: absolute;
    margin: 23px 0 30px 27px;
}
.main_logo_black{
    display: none;
}

.main_nav{
    padding: 0 140px;
}
.main_nav>ul{
    display: flex;
    justify-content: space-between;
}
.main_nav>ul>li a{
    color: #fff;
    font-weight: 500;
    font-size: 12PX;
}
.main_nav>ul>li{
    transition:all .3s ease;
    height: 76px;
    line-height: 76px;
}
.main_nav>ul>li:hover{
    transition:all .3s ease
}
.main_nav>ul>li>span{
    position: relative;
}
.main_nav>ul>li>span::after{
    content: '';
    width: 50%;
    left: 30%;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 30px;
    border-bottom: 2px solid #fff;
    transition:all .3s ease;
    top: 18px;
}
.main_nav>ul>li:hover > span::after {
    content: '';
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 30px;
    border-bottom: 2px solid #fff;
    transition:all .3s ease;
  }


.sub_menu{
    width: 188px;
    background: #505cfd;
    padding-bottom: 30px;
    border-radius: 3px;
    position: absolute;
    top: 85px;
    display: none;
}
.sub_menu>li{
    position: relative;
    padding-top: 30px;
    padding-left:26px;
    line-height: 14px;
    width: 188px;
    display: block;
}
.sub_menu>li:hover>a{
    color: #c9cdfe;
}
.sub_menu>li>a{
    display: flex;
    justify-content: space-between;
    padding-right: 26px;
}

.drop_down{
    width: 188px;
    background:#fff;
    border-radius: 3px;
    padding: 15px 0;
    position: absolute;
    left: 188px;
    top: 2px;
    display: none;
}
.drop_down>.sub_drop_down{
    width: 188px;
}
.drop_down>.sub_drop_down>a{
    padding:15px 26px;
    display: block;
    color: #a1a1a1;
}
.drop_down>.sub_drop_down:hover>a{
    color: #6d6d6d;
}


/* section{
    padding: 500px 0;
} */

.rigth_menu{
    position: absolute;
    z-index: 99;
    width: 393px;
    height: 100vh;
    background: #222222;
    right: 0;
    top: 0;
}
.close_btn{
    padding: 50px 30px;
}
.close_btn span{
    color: #a1a1a1;
    float: right;
    font-size: 15px;
}
.right_logo{
    margin-top: 80px;
}
.right_logo img{
    padding: 30px;
    border: 1px solid #545454;
}
.content>p{
    color: #6b6b6b;
    margin: 45px 0;
}
.image_box{
    padding: 30px;
}
.image_box>div>div{
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 2px;
}
.image_box>div{
    width: 100%;
}